{% if page.image %}
  <figure class="feature-image">
    <img
      src="{{ page.image | relative_url }}"
      alt="{{ page.image_alt | default: page.title | escape }}"
      {% if page.image_position %}style="object-position: {{ page.image_position | escape }};"{% endif %}
    >
    {% if page.image_credit %}
      <figcaption>
        {% if page.image_credit_url %}
          <a href="{{ page.image_credit_url | escape }}">{{ page.image_credit | escape }}</a>
        {% else %}
          {{ page.image_credit | escape }}
        {% endif %}
      </figcaption>
    {% endif %}
  </figure>
{% endif %}
