<header class="site-header" aria-label="Site header">
  {% unless page.url == "/" %}
    <div class="masthead">
      <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
      <p>{{ site.description | escape }}</p>
    </div>
  {% endunless %}
  <nav class="site-nav" aria-label="Writing categories">
    <a href="{{ '/about/' | relative_url }}">About</a>
    <a href="{{ '/essays/' | relative_url }}">Essays</a>
    <a href="{{ '/poetry/' | relative_url }}">Poetry</a>
    <a href="{{ '/aphorisms/' | relative_url }}">Aphorisms</a>
    <a href="{{ '/blurbs/' | relative_url }}">Blurbs</a>
    <a href="{{ '/quotes/' | relative_url }}">Quotations</a>
  </nav>
</header>
